[submodule "dune-common"]
	path = dune-common
	url = https://gitlab.dune-project.org/core/dune-common.git
[submodule "dune-geometry"]
	path = dune-geometry
	url = https://gitlab.dune-project.org/core/dune-geometry.git
[submodule "dune-grid"]
	path = dune-grid
	url = https://gitlab.dune-project.org/core/dune-grid.git
[submodule "dune-testtools"]
	path = dune-testtools
	url = https://gitlab.dune-project.org/quality/dune-testtools.git
